* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(cal-bg.avif);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    /* background: url(cal-bg.avif); */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 260px;
}

.display {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

button:active {
    background-color: #ddd;
}

button.operator {
    background-color: #f79c42;
    color: white;
}

button.operator:active {
    background-color: #e67e22;
}

button.clear {
    background-color: #e74c3c;
    color: white;
    grid-column: span 2;
}

button.clear:active {
    background-color: #c0392b;
}
